In [1]:
from datetime import datetime

In [2]:
from datetime import timezone
now = datetime.now(tz=timezone.utc)
type(now)

datetime.datetime

In [3]:
now

datetime.datetime(2021, 5, 24, 3, 57, 30, 235972, tzinfo=datetime.timezone.utc)

In [4]:
now.isoformat()

'2021-05-24T03:57:30.235972+00:00'

In [5]:
print('year =', now.year)
print('month =', now.month)
print('day =', now.day)
print('hour =', now.hour)
print('minute =', now.minute)
print('second =', now.second)
print('microsecond =', now.microsecond)
print('timestamp =', now.timestamp())

year = 2021
month = 5
day = 24
hour = 3
minute = 57
second = 30
microsecond = 235972
timestamp = 1621828650.235972

In [6]:
now1 = datetime.utcnow()
now1

datetime.datetime(2021, 5, 24, 3, 57, 30, 296810)

In [7]:
epoch = datetime(1970, 1, 1, 0, 0, 0)
(now1 - epoch).total_seconds()

1621828650.29681

In [8]:
type(now1 - epoch)

datetime.timedelta

In [9]:
datetime.fromtimestamp(1604889324.850201)

datetime.datetime(2020, 11, 9, 11, 35, 24, 850201)

In [10]:
timestamp = now1.timestamp()
timestamp

1621796250.29681

In [11]:
datetime.fromtimestamp(timestamp)

datetime.datetime(2021, 5, 24, 3, 57, 30, 296810)

In [12]:
d = datetime.fromordinal(737791)
d

datetime.datetime(2021, 1, 1, 0, 0)

In [13]:
date_string = d.isoformat()
date_string

'2021-01-01T00:00:00'

In [14]:
datetime.fromisoformat(date_string)

datetime.datetime(2021, 1, 1, 0, 0)

In [15]:
d

datetime.datetime(2021, 1, 1, 0, 0)

In [16]:
t = d.timetuple()

In [17]:
t

time.struct_time(tm_year=2021, tm_mon=1, tm_mday=1, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=4, tm_yday=1, tm_isdst=-1)

In [18]:
for i in t:
    print(i)

2021
1
1
0
0
0
4
1
-1

In [19]:
d.strftime('%d/%m/%y')

'01/01/21'

In [20]:
d.strftime('%A %d, %B %Y')

'Friday 01, January 2021'

In [21]:
d.strftime('%Y-%m-%d %H:%M:%S')

'2021-01-01 00:00:00'

In [22]:
from datetime import timedelta
timedelta(days=100, hours=12, minutes=6)

datetime.timedelta(days=100, seconds=43560)

In [23]:
timedelta.max

datetime.timedelta(days=999999999, seconds=86399, microseconds=999999)

In [24]:
timedelta.min

datetime.timedelta(days=-999999999)

In [25]:
timedelta.resolution

datetime.timedelta(microseconds=1)

In [26]:
now = datetime.now()
now

datetime.datetime(2021, 5, 24, 12, 57, 30, 610185)

In [27]:
dt_after_2yrs_2hrs = now + timedelta(days=730, hours=2)

In [28]:
dt_after_2yrs_2hrs

datetime.datetime(2023, 5, 24, 14, 57, 30, 610185)

In [29]:
timedelta(days=365, hours=2, minutes=6).total_seconds()

31543560.0

In [30]:
import pytz
from pytz import timezone

In [31]:
pytz.all_timezones

['Africa/Abidjan', 'Africa/Accra', 'Africa/Addis_Ababa', 'Africa/Algiers', 'Africa/Asmara', 'Africa/Asmera', 'Africa/Bamako', 'Africa/Bangui', 'Africa/Banjul', 'Africa/Bissau', 'Africa/Blantyre', 'Africa/Brazzaville', 'Africa/Bujumbura', 'Africa/Cairo', 'Africa/Casablanca', 'Africa/Ceuta', 'Africa/Conakry', 'Africa/Dakar', 'Africa/Dar_es_Salaam', 'Africa/Djibouti', 'Africa/Douala', 'Africa/El_Aaiun', 'Africa/Freetown', 'Africa/Gaborone', 'Africa/Harare', 'Africa/Johannesburg', 'Africa/Juba', 'Africa/Kampala', 'Africa/Khartoum', 'Africa/Kigali', 'Africa/Kinshasa', 'Africa/Lagos', 'Africa/Libreville', 'Africa/Lome', 'Africa/Luanda', 'Africa/Lubumbashi', 'Africa/Lusaka', 'Africa/Malabo', 'Africa/Maputo', 'Africa/Maseru', 'Africa/Mbabane', 'Africa/Mogadishu', 'Africa/Monrovia', 'Africa/Nairobi', 'Africa/Ndjamena', 'Africa/Niamey', 'Africa/Nouakchott', 'Africa/Ouagadougou', 'Africa/Porto-Novo', 'Africa/Sao_Tome', 'Africa/Timbuktu', 'Africa/Tripoli', 'Africa/Tunis', 'Africa/Windhoek', 'America/Adak', 'America/Anchorage', 'America/Anguilla', 'America/Antigua', 'America/Araguaina', 'America/Argentina/Buenos_Aires', 'America/Argentina/Catamarca', 'America/Argentina/ComodRivadavia', 'America/Argentina/Cordoba', 'America/Argentina/Jujuy', 'America/Argentina/La_Rioja', 'America/Argentina/Mendoza', 'America/Argentina/Rio_Gallegos', 'America/Argentina/Salta', 'America/Argentina/San_Juan', 'America/Argentina/San_Luis', 'America/Argentina/Tucuman', 'America/Argentina/Ushuaia', 'America/Aruba', 'America/Asuncion', 'America/Atikokan', 'America/Atka', 'America/Bahia', 'America/Bahia_Banderas', 'America/Barbados', 'America/Belem', 'America/Belize', 'America/Blanc-Sablon', 'America/Boa_Vista', 'America/Bogota', 'America/Boise', 'America/Buenos_Aires', 'America/Cambridge_Bay', 'America/Campo_Grande', 'America/Cancun', 'America/Caracas', 'America/Catamarca', 'America/Cayenne', 'America/Cayman', 'America/Chicago', 'America/Chihuahua', 'America/Coral_Harbour', 'America/Cordoba', 'America/Costa_Rica', 'America/Creston', 'America/Cuiaba', 'America/Curacao', 'America/Danmarkshavn', 'America/Dawson', 'America/Dawson_Creek', 'America/Denver', 'America/Detroit', 'America/Dominica', 'America/Edmonton', 'America/Eirunepe', 'America/El_Salvador', 'America/Ensenada', 'America/Fort_Nelson', 'America/Fort_Wayne', 'America/Fortaleza', 'America/Glace_Bay', 'America/Godthab', 'America/Goose_Bay', 'America/Grand_Turk', 'America/Grenada', 'America/Guadeloupe', 'America/Guatemala', 'America/Guayaquil', 'America/Guyana', 'America/Halifax', 'America/Havana', 'America/Hermosillo', 'America/Indiana/Indianapolis', 'America/Indiana/Knox', 'America/Indiana/Marengo', 'America/Indiana/Petersburg', 'America/Indiana/Tell_City', 'America/Indiana/Vevay', 'America/Indiana/Vincennes', 'America/Indiana/Winamac', 'America/Indianapolis', 'America/Inuvik', 'America/Iqaluit', 'America/Jamaica', 'America/Jujuy', 'America/Juneau', 'America/Kentucky/Louisville', 'America/Kentucky/Monticello', 'America/Knox_IN', 'America/Kralendijk', 'America/La_Paz', 'America/Lima', 'America/Los_Angeles', 'America/Louisville', 'America/Lower_Princes', 'America/Maceio', 'America/Managua', 'America/Manaus', 'America/Marigot', 'America/Martinique', 'America/Matamoros', 'America/Mazatlan', 'America/Mendoza', 'America/Menominee', 'America/Merida', 'America/Metlakatla', 'America/Mexico_City', 'America/Miquelon', 'America/Moncton', 'America/Monterrey', 'America/Montevideo', 'America/Montreal', 'America/Montserrat', 'America/Nassau', 'America/New_York', 'America/Nipigon', 'America/Nome', 'America/Noronha', 'America/North_Dakota/Beulah', 'America/North_Dakota/Center', 'America/North_Dakota/New_Salem', 'America/Nuuk', 'America/Ojinaga', 'America/Panama', 'America/Pangnirtung', 'America/Paramaribo', 'America/Phoenix', 'America/Port-au-Prince', 'America/Port_of_Spain', 'America/Porto_Acre', 'America/Porto_Velho', 'America/Puerto_Rico', 'America/Punta_Arenas', 'America/Rainy_River', 'America/Rankin_Inlet', 'America/Recife', 'America/Regina', 'America/Resolute', 'America/Rio_Branco', 'America/Rosario', 'America/Santa_Isabel', 'America/Santarem', 'America/Santiago', 'America/Santo_Domingo', 'America/Sao_Paulo', 'America/Scoresbysund', 'America/Shiprock', 'America/Sitka', 'America/St_Barthelemy', 'America/St_Johns', 'America/St_Kitts', 'America/St_Lucia', 'America/St_Thomas', 'America/St_Vincent', 'America/Swift_Current', 'America/Tegucigalpa', 'America/Thule', 'America/Thunder_Bay', 'America/Tijuana', 'America/Toronto', 'America/Tortola', 'America/Vancouver', 'America/Virgin', 'America/Whitehorse', 'America/Winnipeg', 'America/Yakutat', 'America/Yellowknife', 'Antarctica/Casey', 'Antarctica/Davis', 'Antarctica/DumontDUrville', 'Antarctica/Macquarie', 'Antarctica/Mawson', 'Antarctica/McMurdo', 'Antarctica/Palmer', 'Antarctica/Rothera', 'Antarctica/South_Pole', 'Antarctica/Syowa', 'Antarctica/Troll', 'Antarctica/Vostok', 'Arctic/Longyearbyen', 'Asia/Aden', 'Asia/Almaty', 'Asia/Amman', 'Asia/Anadyr', 'Asia/Aqtau', 'Asia/Aqtobe', 'Asia/Ashgabat', 'Asia/Ashkhabad', 'Asia/Atyrau', 'Asia/Baghdad', 'Asia/Bahrain', 'Asia/Baku', 'Asia/Bangkok', 'Asia/Barnaul', 'Asia/Beirut', 'Asia/Bishkek', 'Asia/Brunei', 'Asia/Calcutta', 'Asia/Chita', 'Asia/Choibalsan', 'Asia/Chongqing', 'Asia/Chungking', 'Asia/Colombo', 'Asia/Dacca', 'Asia/Damascus', 'Asia/Dhaka', 'Asia/Dili', 'Asia/Dubai', 'Asia/Dushanbe', 'Asia/Famagusta', 'Asia/Gaza', 'Asia/Harbin', 'Asia/Hebron', 'Asia/Ho_Chi_Minh', 'Asia/Hong_Kong', 'Asia/Hovd', 'Asia/Irkutsk', 'Asia/Istanbul', 'Asia/Jakarta', 'Asia/Jayapura', 'Asia/Jerusalem', 'Asia/Kabul', 'Asia/Kamchatka', 'Asia/Karachi', 'Asia/Kashgar', 'Asia/Kathmandu', 'Asia/Katmandu', 'Asia/Khandyga', 'Asia/Kolkata', 'Asia/Krasnoyarsk', 'Asia/Kuala_Lumpur', 'Asia/Kuching', 'Asia/Kuwait', 'Asia/Macao', 'Asia/Macau', 'Asia/Magadan', 'Asia/Makassar', 'Asia/Manila', 'Asia/Muscat', 'Asia/Nicosia', 'Asia/Novokuznetsk', 'Asia/Novosibirsk', 'Asia/Omsk', 'Asia/Oral', 'Asia/Phnom_Penh', 'Asia/Pontianak', 'Asia/Pyongyang', 'Asia/Qatar', 'Asia/Qostanay', 'Asia/Qyzylorda', 'Asia/Rangoon', 'Asia/Riyadh', 'Asia/Saigon', 'Asia/Sakhalin', 'Asia/Samarkand', 'Asia/Seoul', 'Asia/Shanghai', 'Asia/Singapore', 'Asia/Srednekolymsk', 'Asia/Taipei', 'Asia/Tashkent', 'Asia/Tbilisi', 'Asia/Tehran', 'Asia/Tel_Aviv', 'Asia/Thimbu', 'Asia/Thimphu', 'Asia/Tokyo', 'Asia/Tomsk', 'Asia/Ujung_Pandang', 'Asia/Ulaanbaatar', 'Asia/Ulan_Bator', 'Asia/Urumqi', 'Asia/Ust-Nera', 'Asia/Vientiane', 'Asia/Vladivostok', 'Asia/Yakutsk', 'Asia/Yangon', 'Asia/Yekaterinburg', 'Asia/Yerevan', 'Atlantic/Azores', 'Atlantic/Bermuda', 'Atlantic/Canary', 'Atlantic/Cape_Verde', 'Atlantic/Faeroe', 'Atlantic/Faroe', 'Atlantic/Jan_Mayen', 'Atlantic/Madeira', 'Atlantic/Reykjavik', 'Atlantic/South_Georgia', 'Atlantic/St_Helena', 'Atlantic/Stanley', 'Australia/ACT', 'Australia/Adelaide', 'Australia/Brisbane', 'Australia/Broken_Hill', 'Australia/Canberra', 'Australia/Currie', 'Australia/Darwin', 'Australia/Eucla', 'Australia/Hobart', 'Australia/LHI', 'Australia/Lindeman', 'Australia/Lord_Howe', 'Australia/Melbourne', 'Australia/NSW', 'Australia/North', 'Australia/Perth', 'Australia/Queensland', 'Australia/South', 'Australia/Sydney', 'Australia/Tasmania', 'Australia/Victoria', 'Australia/West', 'Australia/Yancowinna', 'Brazil/Acre', 'Brazil/DeNoronha', 'Brazil/East', 'Brazil/West', 'CET', 'CST6CDT', 'Canada/Atlantic', 'Canada/Central', 'Canada/Eastern', 'Canada/Mountain', 'Canada/Newfoundland', 'Canada/Pacific', 'Canada/Saskatchewan', 'Canada/Yukon', 'Chile/Continental', 'Chile/EasterIsland', 'Cuba', 'EET', 'EST', 'EST5EDT', 'Egypt', 'Eire', 'Etc/GMT', 'Etc/GMT+0', 'Etc/GMT+1', 'Etc/GMT+10', 'Etc/GMT+11', 'Etc/GMT+12', 'Etc/GMT+2', 'Etc/GMT+3', 'Etc/GMT+4', 'Etc/GMT+5', 'Etc/GMT+6', 'Etc/GMT+7', 'Etc/GMT+8', 'Etc/GMT+9', 'Etc/GMT-0', 'Etc/GMT-1', 'Etc/GMT-10', 'Etc/GMT-11', 'Etc/GMT-12', 'Etc/GMT-13', 'Etc/GMT-14', 'Etc/GMT-2', 'Etc/GMT-3', 'Etc/GMT-4', 'Etc/GMT-5', 'Etc/GMT-6', 'Etc/GMT-7', 'Etc/GMT-8', 'Etc/GMT-9', 'Etc/GMT0', 'Etc/Greenwich', 'Etc/UCT', 'Etc/UTC', 'Etc/Universal', 'Etc/Zulu', 'Europe/Amsterdam', 'Europe/Andorra', 'Europe/Astrakhan', 'Europe/Athens', 'Europe/Belfast', 'Europe/Belgrade', 'Europe/Berlin', 'Europe/Bratislava', 'Europe/Brussels', 'Europe/Bucharest', 'Europe/Budapest', 'Europe/Busingen', 'Europe/Chisinau', 'Europe/Copenhagen', 'Europe/Dublin', 'Europe/Gibraltar', 'Europe/Guernsey', 'Europe/Helsinki', 'Europe/Isle_of_Man', 'Europe/Istanbul', 'Europe/Jersey', 'Europe/Kaliningrad', 'Europe/Kiev', 'Europe/Kirov', 'Europe/Lisbon', 'Europe/Ljubljana', 'Europe/London', 'Europe/Luxembourg', 'Europe/Madrid', 'Europe/Malta', 'Europe/Mariehamn', 'Europe/Minsk', 'Europe/Monaco', 'Europe/Moscow', 'Europe/Nicosia', 'Europe/Oslo', 'Europe/Paris', 'Europe/Podgorica', 'Europe/Prague', 'Europe/Riga', 'Europe/Rome', 'Europe/Samara', 'Europe/San_Marino', 'Europe/Sarajevo', 'Europe/Saratov', 'Europe/Simferopol', 'Europe/Skopje', 'Europe/Sofia', 'Europe/Stockholm', 'Europe/Tallinn', 'Europe/Tirane', 'Europe/Tiraspol', 'Europe/Ulyanovsk', 'Europe/Uzhgorod', 'Europe/Vaduz', 'Europe/Vatican', 'Europe/Vienna', 'Europe/Vilnius', 'Europe/Volgograd', 'Europe/Warsaw', 'Europe/Zagreb', 'Europe/Zaporozhye', 'Europe/Zurich', 'GB', 'GB-Eire', 'GMT', 'GMT+0', 'GMT-0', 'GMT0', 'Greenwich', 'HST', 'Hongkong', 'Iceland', 'Indian/Antananarivo', 'Indian/Chagos', 'Indian/Christmas', 'Indian/Cocos', 'Indian/Comoro', 'Indian/Kerguelen', 'Indian/Mahe', 'Indian/Maldives', 'Indian/Mauritius', 'Indian/Mayotte', 'Indian/Reunion', 'Iran', 'Israel', 'Jamaica', 'Japan', 'Kwajalein', 'Libya', 'MET', 'MST', 'MST7MDT', 'Mexico/BajaNorte', 'Mexico/BajaSur', 'Mexico/General', 'NZ', 'NZ-CHAT', 'Navajo', 'PRC', 'PST8PDT', 'Pacific/Apia', 'Pacific/Auckland', 'Pacific/Bougainville', 'Pacific/Chatham', 'Pacific/Chuuk', 'Pacific/Easter', 'Pacific/Efate', 'Pacific/Enderbury', 'Pacific/Fakaofo', 'Pacific/Fiji', 'Pacific/Funafuti', 'Pacific/Galapagos', 'Pacific/Gambier', 'Pacific/Guadalcanal', 'Pacific/Guam', 'Pacific/Honolulu', 'Pacific/Johnston', 'Pacific/Kiritimati', 'Pacific/Kosrae', 'Pacific/Kwajalein', 'Pacific/Majuro', 'Pacific/Marquesas', 'Pacific/Midway', 'Pacific/Nauru', 'Pacific/Niue', 'Pacific/Norfolk', 'Pacific/Noumea', 'Pacific/Pago_Pago', 'Pacific/Palau', 'Pacific/Pitcairn', 'Pacific/Pohnpei', 'Pacific/Ponape', 'Pacific/Port_Moresby', 'Pacific/Rarotonga', 'Pacific/Saipan', 'Pacific/Samoa', 'Pacific/Tahiti', 'Pacific/Tarawa', 'Pacific/Tongatapu', 'Pacific/Truk', 'Pacific/Wake', 'Pacific/Wallis', 'Pacific/Yap', 'Poland', 'Portugal', 'ROC', 'ROK', 'Singapore', 'Turkey', 'UCT', 'US/Alaska', 'US/Aleutian', 'US/Arizona', 'US/Central', 'US/East-Indiana', 'US/Eastern', 'US/Hawaii', 'US/Indiana-Starke', 'US/Michigan', 'US/Mountain', 'US/Pacific', 'US/Samoa', 'UTC', 'Universal', 'W-SU', 'WET', 'Zulu']

In [32]:
utc = pytz.utc
utc.zone

'UTC'

In [33]:
type(utc)

pytz.UTC

In [34]:
seoul_tz = timezone('Asia/Seoul')

In [35]:
seoul_tz.zone

'Asia/Seoul'

In [36]:
type(seoul_tz)

pytz.tzfile.Asia/Seoul

In [37]:
datetime.now()

datetime.datetime(2021, 5, 24, 12, 57, 30, 877471)

In [38]:
datetime.now(tz=utc)

datetime.datetime(2021, 5, 24, 3, 57, 30, 893427, tzinfo=<UTC>)

In [39]:
datetime.now(tz=seoul_tz)

datetime.datetime(2021, 5, 24, 12, 57, 30, 909385, tzinfo=<DstTzInfo 'Asia/Seoul' KST+9:00:00 STD>)

In [40]:
seoul_tz.localize(datetime.now())

datetime.datetime(2021, 5, 24, 12, 57, 30, 925343, tzinfo=<DstTzInfo 'Asia/Seoul' KST+9:00:00 STD>)

In [41]:
New_York = timezone('America/New_York')
Seoul = timezone('Asia/Seoul')
newyork_dt = datetime.now(New_York)
newyork_dt

datetime.datetime(2021, 5, 23, 23, 57, 30, 950275, tzinfo=<DstTzInfo 'America/New_York' EDT-1 day, 20:00:00 DST>)

In [42]:
seoul_dt = newyork_dt.astimezone(Seoul)
seoul_dt

datetime.datetime(2021, 5, 24, 12, 57, 30, 950275, tzinfo=<DstTzInfo 'Asia/Seoul' KST+9:00:00 STD>)

In [43]:
dtu = datetime(2021, 9, 24, 6, 30, tzinfo=utc)

In [44]:
dts = dtu.astimezone(Seoul)

In [45]:
fmt = '%Y-%m-%d %H:%M:%S %Z%z'

In [46]:
dts.strftime(fmt)

'2021-09-24 15:30:00 KST+0900'

In [47]:
import pandas as pd
import numpy as np
dti = pd.to_datetime(['1/1/2021', np.datetime64('2021-01-02'), datetime(2021, 1, 3)])

In [48]:
dti

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03'], dtype='datetime64[ns]', freq=None)

In [49]:
dti1 = pd.date_range('2021-01-01', periods=3, freq='H')
dti1

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 01:00:00',
               '2021-01-01 02:00:00'],
              dtype='datetime64[ns]', freq='H')

In [50]:
dti2 = dti1.tz_localize('UTC')
type(dti1), type(dti2)

(pandas.core.indexes.datetimes.DatetimeIndex,
 pandas.core.indexes.datetimes.DatetimeIndex)

In [51]:
dti2

DatetimeIndex(['2021-01-01 00:00:00+00:00', '2021-01-01 01:00:00+00:00',
               '2021-01-01 02:00:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='H')

In [52]:
dti2.tz_convert('US/Pacific')

DatetimeIndex(['2020-12-31 16:00:00-08:00', '2020-12-31 17:00:00-08:00',
               '2020-12-31 18:00:00-08:00'],
              dtype='datetime64[ns, US/Pacific]', freq='H')

In [53]:
ind = pd.date_range('2021-01-01', periods=5, freq='H')
ser = pd.Series(range(len(ind)), index=ind)
ser

2021-01-01 00:00:00    0
2021-01-01 01:00:00    1
2021-01-01 02:00:00    2
2021-01-01 03:00:00    3
2021-01-01 04:00:00    4
Freq: H, dtype: int64

In [54]:
ser.resample('2H').mean()

2021-01-01 00:00:00    0.5
2021-01-01 02:00:00    2.5
2021-01-01 04:00:00    4.0
Freq: 2H, dtype: float64

In [55]:
ts = pd.Timestamp('2021-07-03')
ts.day_name()

'Saturday'

In [56]:
ts1 = ts + pd.Timedelta('1 day')
ts1.day_name()

'Sunday'

In [57]:
pd.Series(range(3), index=pd.date_range('2021', freq='D', periods=3))

2021-01-01    0
2021-01-02    1
2021-01-03    2
Freq: D, dtype: int64

In [58]:
pd.Series(pd.date_range('2021', freq='D', periods=3))

0   2021-01-01
1   2021-01-02
2   2021-01-03
dtype: datetime64[ns]

In [59]:
pd.Series(pd.period_range('1/1/2021', freq='M', periods=3))

0    2021-01
1    2021-02
2    2021-03
dtype: period[M]

In [60]:
pd.Series(pd.date_range('1/1/2021', freq='M', periods=3))

0   2021-01-31
1   2021-02-28
2   2021-03-31
dtype: datetime64[ns]

In [61]:
dti = pd.date_range(start='2021-01-01 10:00', freq='H', periods=3)
dti

DatetimeIndex(['2021-01-01 10:00:00', '2021-01-01 11:00:00',
               '2021-01-01 12:00:00'],
              dtype='datetime64[ns]', freq='H')

In [62]:
dti.normalize()

DatetimeIndex(['2021-01-01', '2021-01-01', '2021-01-01'], dtype='datetime64[ns]', freq=None)

In [63]:
ti = pd.TimedeltaIndex(data=['1 days 01:00:05'], freq='D', name='KTX')

In [64]:
ti

TimedeltaIndex(['1 days 01:00:05'], dtype='timedelta64[ns]', name='KTX', freq='D')

In [65]:
pi = pd.period_range('1/1/2021', '12/31/2021', freq='M')
pi

PeriodIndex(['2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
             '2021-07', '2021-08', '2021-09', '2021-10', '2021-11', '2021-12'],
            dtype='period[M]', freq='M')

In [66]:
ind = pd.date_range('1/1/2021', '12/31/2021', freq='BM')
ind

DatetimeIndex(['2021-01-29', '2021-02-26', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-30', '2021-08-31',
               '2021-09-30', '2021-10-29', '2021-11-30', '2021-12-31'],
              dtype='datetime64[ns]', freq='BM')

In [67]:
ser = pd.Series(np.random.randn(len(ind)), index=ind)
ser[:2]

2021-01-29    0.177764
2021-02-26    0.226253
Freq: BM, dtype: float64

In [68]:
ser[:2].index

DatetimeIndex(['2021-01-29', '2021-02-26'], dtype='datetime64[ns]', freq='BM')

In [69]:
ser['1/29/2021']

0.17776434176622752

In [70]:
ser[datetime(2021, 11, 15):]

2021-11-30    0.991486
2021-12-31    1.687822
Freq: BM, dtype: float64

In [71]:
ser['10/31/2021':'12/31/2021']

2021-11-30    0.991486
2021-12-31    1.687822
Freq: BM, dtype: float64

In [72]:
ser['2021']

2021-01-29    0.177764
2021-02-26    0.226253
2021-03-31    0.630332
2021-04-30    0.763835
2021-05-31    0.466234
2021-06-30    0.848068
2021-07-30    0.159160
2021-08-31    0.536322
2021-09-30    0.062788
2021-10-29    0.973862
2021-11-30    0.991486
2021-12-31    1.687822
Freq: BM, dtype: float64

In [73]:
ser['2021-7']

2021-07-30    0.15916
Freq: BM, dtype: float64

In [74]:
df = pd.DataFrame( np.random.randn(100000), columns=['Val'],
index=pd.date_range('20210101', periods=100000, freq='T'))
df

                          Val
2021-01-01 00:00:00 -0.532892
2021-01-01 00:01:00  0.801096
2021-01-01 00:02:00  0.541341
2021-01-01 00:03:00  0.514988
2021-01-01 00:04:00  1.631335
...                       ...
2021-03-11 10:35:00 -0.167095
2021-03-11 10:36:00  1.150766
2021-03-11 10:37:00  0.090879
2021-03-11 10:38:00 -1.246774
2021-03-11 10:39:00 -0.159476

[100000 rows x 1 columns]

In [75]:
df['2021-1':'2021-2-28']

                          Val
2021-01-01 00:00:00 -0.532892
2021-01-01 00:01:00  0.801096
2021-01-01 00:02:00  0.541341
2021-01-01 00:03:00  0.514988
2021-01-01 00:04:00  1.631335
...                       ...
2021-02-28 23:55:00 -1.313069
2021-02-28 23:56:00  2.203183
2021-02-28 23:57:00  1.260528
2021-02-28 23:58:00  0.893516
2021-02-28 23:59:00 -0.709728

[84960 rows x 1 columns]

In [76]:
df[datetime(2021, 1, 1):datetime(2021, 1, 15)]

                          Val
2021-01-01 00:00:00 -0.532892
2021-01-01 00:01:00  0.801096
2021-01-01 00:02:00  0.541341
2021-01-01 00:03:00  0.514988
2021-01-01 00:04:00  1.631335
...                       ...
2021-01-14 23:56:00 -0.467685
2021-01-14 23:57:00 -0.241036
2021-01-14 23:58:00  2.187839
2021-01-14 23:59:00  0.432672
2021-01-15 00:00:00 -1.490416

[20161 rows x 1 columns]

In [77]:
ind = pd.date_range('2021-1-1', '2023-01-01', freq='W')
ind

DatetimeIndex(['2021-01-03', '2021-01-10', '2021-01-17', '2021-01-24',
               '2021-01-31', '2021-02-07', '2021-02-14', '2021-02-21',
               '2021-02-28', '2021-03-07',
               ...
               '2022-10-30', '2022-11-06', '2022-11-13', '2022-11-20',
               '2022-11-27', '2022-12-04', '2022-12-11', '2022-12-18',
               '2022-12-25', '2023-01-01'],
              dtype='datetime64[ns]', length=105, freq='W-SUN')

In [78]:
ser = pd.Series(np.random.randn(len(ind)), index=ind)
ser.truncate(before='2022-10-10', after='2022-10-24')

2022-10-16    1.407458
2022-10-23    0.162371
Freq: W-SUN, dtype: float64

In [79]:
ser[[0, 2, 5]].index

DatetimeIndex(['2021-01-03', '2021-01-17', '2021-02-07'], dtype='datetime64[ns]', freq=None)

In [80]:
ind = pd.date_range('7/1/2021', periods=20, freq='S')
ser = pd.Series(np.random.randint(0, 50, len(ind)), index=ind)

In [81]:
ser

2021-07-01 00:00:00    14
2021-07-01 00:00:01    17
2021-07-01 00:00:02    15
2021-07-01 00:00:03    22
2021-07-01 00:00:04    32
2021-07-01 00:00:05    38
2021-07-01 00:00:06    13
2021-07-01 00:00:07    36
2021-07-01 00:00:08    27
2021-07-01 00:00:09     2
2021-07-01 00:00:10    42
2021-07-01 00:00:11    27
2021-07-01 00:00:12     3
2021-07-01 00:00:13     2
2021-07-01 00:00:14    34
2021-07-01 00:00:15    44
2021-07-01 00:00:16    42
2021-07-01 00:00:17    30
2021-07-01 00:00:18    14
2021-07-01 00:00:19     9
Freq: S, dtype: int32

In [82]:
ser.resample('3S').sum()

2021-07-01 00:00:00     46
2021-07-01 00:00:03     92
2021-07-01 00:00:06     76
2021-07-01 00:00:09     71
2021-07-01 00:00:12     39
2021-07-01 00:00:15    116
2021-07-01 00:00:18     23
Freq: 3S, dtype: int32

In [83]:
ser.resample('5S', closed='right').mean()

2021-06-30 23:59:55    14.00
2021-07-01 00:00:00    24.80
2021-07-01 00:00:05    24.00
2021-07-01 00:00:10    22.00
2021-07-01 00:00:15    23.75
Freq: 5S, dtype: float64

In [85]:
ser.resample('5S', closed='left').mean()

2021-07-01 00:00:00    20.0
2021-07-01 00:00:05    23.2
2021-07-01 00:00:10    21.6
2021-07-01 00:00:15    27.8
Freq: 5S, dtype: float64

In [86]:
ser.resample('5S').ohlc()

                     open  high  low  close
2021-07-01 00:00:00    14    32   14     32
2021-07-01 00:00:05    38    38    2      2
2021-07-01 00:00:10    42    42    2     34
2021-07-01 00:00:15    44    44    9      9

In [87]:
ser[:2].resample('250L').asfreq()

2021-07-01 00:00:00.000    14.0
2021-07-01 00:00:00.250     NaN
2021-07-01 00:00:00.500     NaN
2021-07-01 00:00:00.750     NaN
2021-07-01 00:00:01.000    17.0
Freq: 250L, dtype: float64

In [88]:
ser[:2].resample('250L').ffill(limit=2)

2021-07-01 00:00:00.000    14.0
2021-07-01 00:00:00.250    14.0
2021-07-01 00:00:00.500    14.0
2021-07-01 00:00:00.750     NaN
2021-07-01 00:00:01.000    17.0
Freq: 250L, dtype: float64

In [95]:
ind = pd.date_range('7/1/2021', freq='S', periods=700)

In [96]:
df = pd.DataFrame(np.random.randn(700, 3), index=ind, columns=['A', 'B', 'C'])
rs = df.resample('3T')
type(rs)

pandas.core.resample.DatetimeIndexResampler

In [97]:
rs.mean()

                            A         B         C
2021-07-01 00:00:00 -0.085093 -0.080711  0.033294
2021-07-01 00:03:00 -0.070424 -0.081669 -0.009242
2021-07-01 00:06:00  0.029835 -0.040456  0.094953
2021-07-01 00:09:00  0.133128 -0.063042 -0.017748

In [98]:
rs['A'].mean()

2021-07-01 00:00:00   -0.085093
2021-07-01 00:03:00   -0.070424
2021-07-01 00:06:00    0.029835
2021-07-01 00:09:00    0.133128
Freq: 3T, Name: A, dtype: float64

In [99]:
rs[['A', 'B']].mean()

                            A         B
2021-07-01 00:00:00 -0.085093 -0.080711
2021-07-01 00:03:00 -0.070424 -0.081669
2021-07-01 00:06:00  0.029835 -0.040456
2021-07-01 00:09:00  0.133128 -0.063042

In [100]:
rs['A'].agg([np.sum, np.mean, np.std])

                           sum      mean       std
2021-07-01 00:00:00 -15.316689 -0.085093  0.940055
2021-07-01 00:03:00 -12.676356 -0.070424  0.950009
2021-07-01 00:06:00   5.370273  0.029835  1.044405
2021-07-01 00:09:00  21.300446  0.133128  0.931691

In [101]:
rs.agg([np.sum, np.mean])

                             A                    B                    C  \
                           sum      mean        sum      mean        sum
2021-07-01 00:00:00 -15.316689 -0.085093 -14.527975 -0.080711   5.993006
2021-07-01 00:03:00 -12.676356 -0.070424 -14.700345 -0.081669  -1.663624
2021-07-01 00:06:00   5.370273  0.029835  -7.282024 -0.040456  17.091516
2021-07-01 00:09:00  21.300446  0.133128 -10.086641 -0.063042  -2.839710


                         mean
2021-07-01 00:00:00  0.033294
2021-07-01 00:03:00 -0.009242
2021-07-01 00:06:00  0.094953
2021-07-01 00:09:00 -0.017748

In [102]:
rs.agg({'A': np.sum, 'B': lambda x: np.std(x, ddof=1)})

                             A         B
2021-07-01 00:00:00 -15.316689  1.011931
2021-07-01 00:03:00 -12.676356  0.962532
2021-07-01 00:06:00   5.370273  0.983288
2021-07-01 00:09:00  21.300446  1.129110

In [103]:
ser = pd.Series(range(6), pd.to_datetime(['2021-07-01 00:00:00', '2021-07-01 00:20:00',
'2021-07-01 00:30:00', '2021-07-01 01:00:00',
'2021-07-01 02:00:00', '2021-07-01 02:10:00']))

In [104]:
resampled = ser.resample('H')
resampled

In [105]:
i=0
for name, group in resampled:
    i=i+1
    print("Group", i, ":", name)
    print("-" * 29)
    print(group, end="\n\n")

Group 1 : 2021-07-01 00:00:00
-----------------------------
2021-07-01 00:00:00    0
2021-07-01 00:20:00    1
2021-07-01 00:30:00    2
dtype: int64

Group 2 : 2021-07-01 01:00:00
-----------------------------
2021-07-01 01:00:00    3
dtype: int64

Group 3 : 2021-07-01 02:00:00
-----------------------------
2021-07-01 02:00:00    4
2021-07-01 02:10:00    5
dtype: int64

In [106]:
pd.Timestamp(datetime(2021, 7, 1))

Timestamp('2021-07-01 00:00:00')

In [107]:
pd.Timestamp('2021-07-01')

Timestamp('2021-07-01 00:00:00')

In [108]:
pd.Timestamp(2021, 7, 1)

Timestamp('2021-07-01 00:00:00')

In [109]:
ts = [pd.Timestamp('2021-07-01'), pd.Timestamp('2021-07-02'),
pd.Timestamp('2021-07-03')]

In [110]:
ser = pd.Series(np.random.randn(3), ts)
ser

2021-07-01   -0.305719
2021-07-02   -0.104217
2021-07-03    0.402185
dtype: float64

In [111]:
ser.index

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03'], dtype='datetime64[ns]', freq=None)

In [112]:
prd = [pd.Period('2021-07'), pd.Period('2021-08'), pd.Period('2021-09')]

In [113]:
ser1 = pd.Series(np.random.randn(3), prd)

In [114]:
ser1

2021-07   -0.370329
2021-08   -1.242208
2021-09   -1.068698
Freq: M, dtype: float64

In [115]:
ser1.index

PeriodIndex(['2021-07', '2021-08', '2021-09'], dtype='period[M]', freq='M')

In [116]:
pd.to_datetime(pd.Series(['Jul 31, 2021', '2022-01-15', None]))

0   2021-07-31
1   2022-01-15
2          NaT
dtype: datetime64[ns]

In [117]:
pd.to_datetime(['2021/11/23', '2021/12/31'])

DatetimeIndex(['2021-11-23', '2021-12-31'], dtype='datetime64[ns]', freq=None)

In [118]:
pd.to_datetime(1656285679, unit='s')

Timestamp('2022-06-26 23:21:19')

In [119]:
pd.to_datetime(['10-12-2021 10:00'], dayfirst=True)

DatetimeIndex(['2021-12-10 10:00:00'], dtype='datetime64[ns]', freq=None)

In [120]:
pd.to_datetime('2021/11/15')

Timestamp('2021-11-15 00:00:00')

In [121]:
pd.Timestamp('2021/11/15')

Timestamp('2021-11-15 00:00:00')

In [122]:
pd.DatetimeIndex(['2021-07-01', '2021-07-05'])

DatetimeIndex(['2021-07-01', '2021-07-05'], dtype='datetime64[ns]', freq=None)

In [123]:
pd.to_datetime('2021/11/15', format='%Y/%m/%d')

Timestamp('2021-11-15 00:00:00')

In [125]:
pd.to_datetime('11-15-2021', format='%m-%d-%Y')

Timestamp('2021-11-15 00:00:00')

In [126]:
df = pd.DataFrame({'year': [2021, 2022],
'month': [7, 1],
'day': [14, 20],
'hour': [10, 9]})
pd.to_datetime(df)

0   2021-07-14 10:00:00
1   2022-01-20 09:00:00
dtype: datetime64[ns]

In [127]:
pd.to_datetime(df[['year', 'month', 'day']])

0   2021-07-14
1   2022-01-20
dtype: datetime64[ns]

In [128]:
pd.to_datetime([1614338577, 1615388000, 1616339902], unit='s')

DatetimeIndex(['2021-02-26 11:22:57', '2021-03-10 14:53:20',
               '2021-03-21 15:18:22'],
              dtype='datetime64[ns]', freq=None)

In [129]:
pd.to_datetime([1604338577, 1605388000, 1606339902])

DatetimeIndex(['1970-01-01 00:00:01.604338577',
                  '1970-01-01 00:00:01.605388',
               '1970-01-01 00:00:01.606339902'],
              dtype='datetime64[ns]', freq=None)

In [130]:
ind = pd.date_range('2021-11-02 17:36:17', periods=3, freq='D')
ind

DatetimeIndex(['2021-11-02 17:36:17', '2021-11-03 17:36:17',
               '2021-11-04 17:36:17'],
              dtype='datetime64[ns]', freq='D')

In [131]:
(ind - pd.Timestamp('1970-01-01'))

TimedeltaIndex(['18933 days 17:36:17', '18934 days 17:36:17',
                '18935 days 17:36:17'],
               dtype='timedelta64[ns]', freq=None)

In [132]:
pd.to_datetime([0, 1, 2], unit='D')

DatetimeIndex(['1970-01-01', '1970-01-02', '1970-01-03'], dtype='datetime64[ns]', freq=None)

In [133]:
pd.to_datetime([0, 1, 2], unit='D', origin=pd.Timestamp('2021-01-01'))

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03'], dtype='datetime64[ns]', freq=None)

In [134]:
list = [datetime(2021, 7, 1), datetime(2021, 7, 2), datetime(2021, 7, 3)]
list

[datetime.datetime(2021, 7, 1, 0, 0),
 datetime.datetime(2021, 7, 2, 0, 0),
 datetime.datetime(2021, 7, 3, 0, 0)]

In [135]:
ind = pd.DatetimeIndex(list)

In [136]:
ind

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03'], dtype='datetime64[ns]', freq=None)

In [137]:
pd.Index(list)

DatetimeIndex(['2021-07-01', '2021-07-02', '2021-07-03'], dtype='datetime64[ns]', freq=None)

In [138]:
start = datetime(2021, 1, 1)

In [139]:
end = datetime(2022, 1, 1)

In [140]:
ind = pd.date_range(start, end)
ind

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10',
               ...
               '2021-12-23', '2021-12-24', '2021-12-25', '2021-12-26',
               '2021-12-27', '2021-12-28', '2021-12-29', '2021-12-30',
               '2021-12-31', '2022-01-01'],
              dtype='datetime64[ns]', length=366, freq='D')

In [141]:
ind2 = pd.bdate_range(start, end)
ind2

DatetimeIndex(['2021-01-01', '2021-01-04', '2021-01-05', '2021-01-06',
               '2021-01-07', '2021-01-08', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14',
               ...
               '2021-12-20', '2021-12-21', '2021-12-22', '2021-12-23',
               '2021-12-24', '2021-12-27', '2021-12-28', '2021-12-29',
               '2021-12-30', '2021-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

In [142]:
pd.date_range(start, periods=1000, freq='M')

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31',
               '2021-09-30', '2021-10-31',
               ...
               '2103-07-31', '2103-08-31', '2103-09-30', '2103-10-31',
               '2103-11-30', '2103-12-31', '2104-01-31', '2104-02-29',
               '2104-03-31', '2104-04-30'],
              dtype='datetime64[ns]', length=1000, freq='M')

In [143]:
pd.bdate_range(start, periods=200, freq='BQS')

DatetimeIndex(['2021-01-01', '2021-04-01', '2021-07-01', '2021-10-01',
               '2022-01-03', '2022-04-01', '2022-07-01', '2022-10-03',
               '2023-01-02', '2023-04-03',
               ...
               '2068-07-02', '2068-10-01', '2069-01-01', '2069-04-01',
               '2069-07-01', '2069-10-01', '2070-01-01', '2070-04-01',
               '2070-07-01', '2070-10-01'],
              dtype='datetime64[ns]', length=200, freq='BQS-JAN')

In [144]:
wm = 'Mon Wed Fri'
off = [datetime(2021, 1, 3), datetime(2022, 1, 1)]
pd.bdate_range(start, end, freq='C', weekmask=wm, holidays=off)

DatetimeIndex(['2021-01-01', '2021-01-04', '2021-01-06', '2021-01-08',
               '2021-01-11', '2021-01-13', '2021-01-15', '2021-01-18',
               '2021-01-20', '2021-01-22',
               ...
               '2021-12-10', '2021-12-13', '2021-12-15', '2021-12-17',
               '2021-12-20', '2021-12-22', '2021-12-24', '2021-12-27',
               '2021-12-29', '2021-12-31'],
              dtype='datetime64[ns]', length=157, freq='C')

In [146]:
ts = pd.Timestamp('2021-10-30 00:00:00', tz='Asia/Seoul')
ts

Timestamp('2021-10-30 00:00:00+0900', tz='Asia/Seoul')

In [147]:
ts + pd.DateOffset(days=1)

Timestamp('2021-10-31 00:00:00+0900', tz='Asia/Seoul')

In [148]:
sat = pd.Timestamp('2021-12-25')

In [149]:
sat.day_name()

'Saturday'

In [150]:
two_biz_days = 2 * pd.offsets.BDay()

In [151]:
two_biz_days.apply(sat)

Timestamp('2021-12-28 00:00:00')

In [152]:
sat + two_biz_days

Timestamp('2021-12-28 00:00:00')

In [153]:
ts = pd.Timestamp('2021-07-11 00:00:00')
ts.day_name()

'Sunday'

In [154]:
offset = pd.offsets.BusinessHour(start='09:00', end='18:00')

In [157]:
type(offset)

pandas._libs.tslibs.offsets.BusinessHour

In [158]:
offset

In [159]:
offset.rollforward(ts)

Timestamp('2021-07-12 09:00:00')

In [160]:
ts + offset

Timestamp('2021-07-12 10:00:00')

In [161]:
ts = pd.Timestamp('2021-01-01 09:00')

In [162]:
day = pd.offsets.Day()

In [163]:
day.apply(ts)

Timestamp('2021-01-02 09:00:00')

In [164]:
day.apply(ts).normalize()

Timestamp('2021-01-02 00:00:00')

In [165]:
ts1 = pd.Timestamp('2021-01-01 22:00')

In [166]:
hour = pd.offsets.Hour()

In [167]:
hour.apply(ts1)

Timestamp('2021-01-01 23:00:00')

In [168]:
hour.apply(ts1).normalize()

Timestamp('2021-01-01 00:00:00')

In [169]:
d = datetime(2021, 7, 17, 9, 0)
d + pd.offsets.Week()

Timestamp('2021-07-24 09:00:00')

In [170]:
d+ pd.offsets.Week(weekday=3)

Timestamp('2021-07-22 09:00:00')

In [171]:
d - pd.offsets.Week()

Timestamp('2021-07-10 09:00:00')

In [172]:
d + pd.offsets.Week(normalize=True)

Timestamp('2021-07-24 00:00:00')

In [173]:
d - pd.offsets.Week(normalize=True)

Timestamp('2021-07-10 00:00:00')

In [174]:
d + pd.offsets.YearEnd()

Timestamp('2021-12-31 09:00:00')

In [175]:
d + pd.offsets.YearEnd(month=6)

Timestamp('2022-06-30 09:00:00')

In [176]:
wm = 'Sun Mon Tue Wed Thu'
hl = ['2021-09-20', datetime(2021, 9, 21), np.datetime64('2021-09-22')]
bday = pd.offsets.CustomBusinessDay(holidays=hl, weekmask=wm)
dt = datetime(2021, 9, 15)
dt + 2*bday

Timestamp('2021-09-19 00:00:00')

In [177]:
dt + 3*bday

Timestamp('2021-09-23 00:00:00')

In [179]:
ind = pd.date_range(dt, periods=5, freq=bday)
ind

DatetimeIndex(['2021-09-15', '2021-09-16', '2021-09-19', '2021-09-23',
               '2021-09-26'],
              dtype='datetime64[ns]', freq='C')

In [180]:
ser = pd.Series(ind.weekday, ind)
ser

2021-09-15    2
2021-09-16    3
2021-09-19    6
2021-09-23    3
2021-09-26    6
Freq: C, dtype: int64

In [181]:
ser.map(pd.Series('Mon Tue Wed Thu Fri Sat Sun'.split()))

2021-09-15    Wed
2021-09-16    Thu
2021-09-19    Sun
2021-09-23    Thu
2021-09-26    Sun
Freq: C, dtype: object

In [182]:
bh = pd.offsets.BusinessHour()
bh

In [183]:
pd.Timestamp('2021-07-02').weekday()

4

In [184]:
pd.Timestamp('2021-07-02 10:00') + bh

Timestamp('2021-07-02 11:00:00')

In [185]:
pd.Timestamp('2021-07-02 10:00') + pd.offsets.BusinessHour(-3)

Timestamp('2021-07-01 15:00:00')

In [186]:
bh = pd.offsets.BusinessHour(start='17:00', end='09:00')
bh

In [187]:
pd.Timestamp('2021-08-01 17:00') + bh

Timestamp('2021-08-02 18:00:00')

In [188]:
pd.date_range('2022-01-03', periods=6, freq='B')

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07', '2022-01-10'],
              dtype='datetime64[ns]', freq='B')

In [189]:
pd.date_range('2022-01-03', periods=5, freq=pd.offsets.BDay())

DatetimeIndex(['2022-01-03', '2022-01-04', '2022-01-05', '2022-01-06',
               '2022-01-07'],
              dtype='datetime64[ns]', freq='B')

In [191]:
pd.date_range('2021-08-01', periods=4, freq='2h20min')

DatetimeIndex(['2021-08-01 00:00:00', '2021-08-01 02:20:00',
               '2021-08-01 04:40:00', '2021-08-01 07:00:00'],
              dtype='datetime64[ns]', freq='140T')

In [192]:
pd.date_range('2021-08-01', periods=4, freq='1D10U')

DatetimeIndex([       '2021-08-01 00:00:00', '2021-08-02 00:00:00.000010',
               '2021-08-03 00:00:00.000020', '2021-08-04 00:00:00.000030'],
              dtype='datetime64[ns]', freq='86400000010U')

In [193]:
pd.Timestamp('2021-01-05') + pd.offsets.MonthBegin(n=1)

Timestamp('2021-02-01 00:00:00')

In [194]:
pd.Timestamp('2021-01-05') + pd.offsets.MonthEnd(n=1)

Timestamp('2021-01-31 00:00:00')

In [195]:
pd.Timestamp('2021-01-05') - pd.offsets.MonthBegin(n=1)

Timestamp('2021-01-01 00:00:00')

In [196]:
pd.Timestamp('2021-01-05') - pd.offsets.MonthEnd(n=1)

Timestamp('2020-12-31 00:00:00')

In [197]:
pd.Timestamp('2021-01-05') + pd.offsets.MonthBegin(n=4)

Timestamp('2021-05-01 00:00:00')

In [198]:
pd.Timestamp('2021-01-05') - pd.offsets.MonthEnd(n=4)

Timestamp('2020-09-30 00:00:00')

In [199]:
pd.Timestamp('2021-01-01') + pd.offsets.MonthBegin(n=1)

Timestamp('2021-02-01 00:00:00')

In [200]:
pd.Timestamp('2021-01-31') + pd.offsets.MonthEnd(n=1)

Timestamp('2021-02-28 00:00:00')

In [201]:
pd.Timestamp('2021-01-01') - pd.offsets.MonthBegin(n=1)

Timestamp('2020-12-01 00:00:00')

In [202]:
pd.Timestamp('2021-01-31') - pd.offsets.MonthEnd(n=1)

Timestamp('2020-12-31 00:00:00')

In [203]:
pd.Timestamp('2021-01-01') + pd.offsets.MonthBegin(n=4)

Timestamp('2021-05-01 00:00:00')

In [204]:
pd.Timestamp('2021-01-31') - pd.offsets.MonthEnd(n=4)

Timestamp('2020-09-30 00:00:00')

In [205]:
pd.Timestamp('2021-01-05') + pd.offsets.MonthBegin(n=0)

Timestamp('2021-02-01 00:00:00')

In [206]:
pd.Timestamp('2021-01-05') + pd.offsets.MonthEnd(n=0)

Timestamp('2021-01-31 00:00:00')

In [207]:
pd.Timestamp('2021-01-01') - pd.offsets.MonthBegin(n=0)

Timestamp('2021-01-01 00:00:00')

In [208]:
pd.Timestamp('2021-01-31') - pd.offsets.MonthEnd(n=0)

Timestamp('2021-01-31 00:00:00')

In [210]:
ind = pd.date_range('7/1/2021', '7/30/2021')

In [211]:
ser = pd.Series(range(len(ind)), index=ind)
ts = ser[:3]
ts

2021-07-01    0
2021-07-02    1
2021-07-03    2
Freq: D, dtype: int64

In [212]:
ts.shift(1)

2021-07-01    NaN
2021-07-02    0.0
2021-07-03    1.0
Freq: D, dtype: float64

In [213]:
ts.shift(5, freq=pd.offsets.BDay())

2021-07-08    0
2021-07-09    1
2021-07-09    2
dtype: int64

In [214]:
ts.shift(5, freq='BM')

2021-11-30    0
2021-11-30    1
2021-11-30    2
dtype: int64

In [215]:
ind = pd.date_range('1/1/2021', periods=3, freq=3 * pd.offsets.BDay())
ser = pd.Series(np.random.randn(3), index=ind)
ser

2021-01-01    0.851261
2021-01-06    1.162532
2021-01-11   -0.218674
Freq: 3B, dtype: float64

In [216]:
ser.asfreq(pd.offsets.BDay())

2021-01-01    0.851261
2021-01-04         NaN
2021-01-05         NaN
2021-01-06    1.162532
2021-01-07         NaN
2021-01-08         NaN
2021-01-11   -0.218674
Freq: B, dtype: float64

In [217]:
ser.asfreq(pd.offsets.BDay(), method='pad')

2021-01-01    0.851261
2021-01-04    0.851261
2021-01-05    0.851261
2021-01-06    1.162532
2021-01-07    1.162532
2021-01-08    1.162532
2021-01-11   -0.218674
Freq: B, dtype: float64

In [218]:
pd.Period('2021', freq='A-DEC')

Period('2021', 'A-DEC')

In [219]:
pd.Period('2021-1-1 17:00', freq='5H')

Period('2021-01-01 17:00', '5H')

In [220]:
p = pd.Period('2021', freq='A-DEC')

In [221]:
p + 1

Period('2022', 'A-DEC')

In [222]:
p - 2

Period('2019', 'A-DEC')

In [223]:
p1 = pd.Period('2021-01', freq='2M')
p1+3

Period('2021-07', '2M')

In [224]:
p1 - 2

Period('2020-09', '2M')

In [225]:
from datetime import timedelta
p = pd.Period('2021-07-01 10:00', freq='H')
p + pd.offsets.Hour(2)

Period('2021-07-01 12:00', 'H')

In [226]:
p + timedelta(minutes=120)

Period('2021-07-01 12:00', 'H')

In [227]:
p + np.timedelta64(7200, 's')

Period('2021-07-01 12:00', 'H')

In [228]:
#p + pd.offsets.Minute(5)

IncompatibleFrequency: Input cannot be converted to Period(freq=H)

In [229]:
ind = pd.period_range('1/1/2021', '6/1/2021', freq='M')
type(ind)

pandas.core.indexes.period.PeriodIndex

In [230]:
ind

PeriodIndex(['2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06'], dtype='period[M]', freq='M')

In [231]:
pd.PeriodIndex(['2021-1', '2021-2', '2021-3'], freq='M')

PeriodIndex(['2021-01', '2021-02', '2021-03'], dtype='period[M]', freq='M')

In [232]:
ind = pd.period_range('2021-07-01 10:00', periods=3, freq='H')
ind

PeriodIndex(['2021-07-01 10:00', '2021-07-01 11:00', '2021-07-01 12:00'], dtype='period[H]', freq='H')

In [233]:
ind + pd.offsets.Hour(2)

PeriodIndex(['2021-07-01 12:00', '2021-07-01 13:00', '2021-07-01 14:00'], dtype='period[H]', freq='H')

In [234]:
ind1 = pd.period_range('2021-07-07', periods=3, freq='M')

In [235]:
ind1 + pd.offsets.MonthEnd(3)

PeriodIndex(['2021-10', '2021-11', '2021-12'], dtype='period[M]', freq='M')

In [236]:
p = pd.Period('2021', freq='A-DEC')
p

Period('2021', 'A-DEC')

In [237]:
p.asfreq('M', how='start')

Period('2021-01', 'M')

In [238]:
p.asfreq('M', how='end')

Period('2021-12', 'M')

In [239]:
p = pd.Period('2021-12', freq='M')

In [240]:
p.asfreq('A-NOV')

Period('2022', 'A-NOV')

In [241]:
p = pd.Period('2021Q1', freq='Q-DEC')

In [242]:
p.asfreq('D', 's')

Period('2021-01-01', 'D')

In [243]:
p.asfreq('D', 'e')

Period('2021-03-31', 'D')

In [244]:
p = pd.Period('2021Q4', freq='Q-MAR')

In [245]:
p.asfreq('D', 's')

Period('2021-01-01', 'D')

In [246]:
p.asfreq('D', 'e')

Period('2021-03-31', 'D')

In [247]:
ind = pd.date_range('1/1/21', periods=3, freq='M')
ser = pd.Series(np.random.randn(len(ind)), index=ind)
ser

2021-01-31    1.845342
2021-02-28    1.512661
2021-03-31    0.882842
Freq: M, dtype: float64

In [248]:
ps = ser.to_period()

In [249]:
ps

2021-01    1.845342
2021-02    1.512661
2021-03    0.882842
Freq: M, dtype: float64

In [250]:
ps.to_timestamp()

2021-01-01    1.845342
2021-02-01    1.512661
2021-03-01    0.882842
Freq: MS, dtype: float64

In [251]:
ind = pd.date_range('1/1/2021 00:00', periods=10, freq='D')
ind.tz is None

True

In [252]:
import dateutil
from datetime import timezone
ind = pd.date_range('1/1/2021 00:00', periods=3, freq='D')
ind1 = ind.tz_localize('dateutil/Asia/Seoul')
ind1.tz

tzfile('ROK')

In [253]:
ind2 = pd.date_range('1/1/2021 00:00', periods=3, freq='D', tz=dateutil.tz.tzutc())

In [254]:
ind2.tz

tzutc()

In [255]:
ind3 = pd.date_range('1/1/2021 00:00', periods=3, freq='D', tz=timezone.utc)

In [256]:
ind3.tz

datetime.timezone.utc

In [257]:
import pytz

In [258]:
tzf = pytz.timezone('Asia/Seoul')

In [259]:
ind = pd.date_range('1/1/2021 00:00', periods=3, freq='D')

In [260]:
ind1 = ind.tz_localize(tzf)

In [261]:
ind1

DatetimeIndex(['2021-01-01 00:00:00+09:00', '2021-01-02 00:00:00+09:00',
               '2021-01-03 00:00:00+09:00'],
              dtype='datetime64[ns, Asia/Seoul]', freq=None)

In [262]:
ind1.tz == tzf

True

In [263]:
tzf1 = dateutil.tz.gettz('Asia/Seoul')
ind2 = pd.date_range('1/1/2021 00:00', periods=3, freq='D', tz=tzf1)
ind2.tz == tzf1

True

In [264]:
ind2.tz_convert('US/Eastern')

DatetimeIndex(['2020-12-31 10:00:00-05:00', '2021-01-01 10:00:00-05:00',
               '2021-01-02 10:00:00-05:00'],
              dtype='datetime64[ns, US/Eastern]', freq='D')

In [266]:
ind_seoul = ind2.tz_convert('Asia/Seoul')

In [267]:
ind_berlin = ind2.tz_convert('Europe/Berlin')

In [268]:
ind_seoul[2]

Timestamp('2021-01-03 00:00:00+0900', tz='Asia/Seoul', freq='D')

In [269]:
ind_berlin[2]

Timestamp('2021-01-02 16:00:00+0100', tz='Europe/Berlin', freq='D')

In [270]:
ind_seoul[2] == ind_berlin[2]

True

In [271]:
ser = pd.Series(range(3), pd.date_range('20210101', periods=3, tz='UTC'))
ser

2021-01-01 00:00:00+00:00    0
2021-01-02 00:00:00+00:00    1
2021-01-03 00:00:00+00:00    2
Freq: D, dtype: int64

In [272]:
seoul = ser.tz_convert('Asia/Seoul')

In [273]:
eastern = ser.tz_convert('US/Eastern')

In [274]:
sum = seoul + eastern

In [275]:
sum

2021-01-01 00:00:00+00:00    0
2021-01-02 00:00:00+00:00    2
2021-01-03 00:00:00+00:00    4
Freq: D, dtype: int64

In [276]:
ind = pd.date_range(start='2021-07-01 09:00', freq='H', periods=3, tz='Asia/Seoul')

In [277]:
ind.tz_localize(None)

DatetimeIndex(['2021-07-01 09:00:00', '2021-07-01 10:00:00',
               '2021-07-01 11:00:00'],
              dtype='datetime64[ns]', freq=None)

In [278]:
ind.tz_convert(None)

DatetimeIndex(['2021-07-01 00:00:00', '2021-07-01 01:00:00',
               '2021-07-01 02:00:00'],
              dtype='datetime64[ns]', freq='H')

In [279]:
ind.tz_convert('UTC').tz_localize(None)

DatetimeIndex(['2021-07-01 00:00:00', '2021-07-01 01:00:00',
               '2021-07-01 02:00:00'],
              dtype='datetime64[ns]', freq=None)

In [280]:
ser_naive = pd.Series(pd.date_range('20210101', periods=3))
ser_naive

0   2021-01-01
1   2021-01-02
2   2021-01-03
dtype: datetime64[ns]

In [281]:
ser_aware = pd.Series(pd.date_range('20210101', periods=3, tz='Asia/Seoul'))
ser_aware

0   2021-01-01 00:00:00+09:00
1   2021-01-02 00:00:00+09:00
2   2021-01-03 00:00:00+09:00
dtype: datetime64[ns, Asia/Seoul]

In [282]:
ser_naive.dt.tz_localize('UTC').dt.tz_convert('Asia/Seoul')

0   2021-01-01 09:00:00+09:00
1   2021-01-02 09:00:00+09:00
2   2021-01-03 09:00:00+09:00
dtype: datetime64[ns, Asia/Seoul]

In [283]:
ser_naive.astype('datetime64[ns, Asia/Seoul]')

0   2021-01-01 09:00:00+09:00
1   2021-01-02 09:00:00+09:00
2   2021-01-03 09:00:00+09:00
dtype: datetime64[ns, Asia/Seoul]

In [284]:
ser_aware.astype('datetime64[ns]')

0   2020-12-31 15:00:00
1   2021-01-01 15:00:00
2   2021-01-02 15:00:00
dtype: datetime64[ns]

In [285]:
ser_aware.astype('datetime64[ns, US/Eastern]')

0   2020-12-31 10:00:00-05:00
1   2021-01-01 10:00:00-05:00
2   2021-01-02 10:00:00-05:00
dtype: datetime64[ns, US/Eastern]

In [286]:
ser_aware.to_numpy()

array([Timestamp('2021-01-01 00:00:00+0900', tz='Asia/Seoul', freq='D'),
       Timestamp('2021-01-02 00:00:00+0900', tz='Asia/Seoul', freq='D'),
       Timestamp('2021-01-03 00:00:00+0900', tz='Asia/Seoul', freq='D')],
      dtype=object)

In [287]:
ser_aware.to_numpy(dtype='datetime64[ns]')

array(['2020-12-31T15:00:00.000000000', '2021-01-01T15:00:00.000000000',
       '2021-01-02T15:00:00.000000000'], dtype='datetime64[ns]')

In [288]:
ser = pd.Series(pd.date_range('20210101 09:20:31', periods=3))
ser

0   2021-01-01 09:20:31
1   2021-01-02 09:20:31
2   2021-01-03 09:20:31
dtype: datetime64[ns]

In [289]:
ser.dt.hour

0    9
1    9
2    9
dtype: int64

In [290]:
ser.dt.second

0    31
1    31
2    31
dtype: int64

In [291]:
ser[ser.dt.day == 2]

1   2021-01-02 09:20:31
dtype: datetime64[ns]

In [292]:
ser.dt.tz_localize('Asia/Seoul')

0   2021-01-01 09:20:31+09:00
1   2021-01-02 09:20:31+09:00
2   2021-01-03 09:20:31+09:00
dtype: datetime64[ns, Asia/Seoul]